@media (min-width: 993px) and (max-width: 1200px)
    .container
        max-width: 878px

    .promo
        padding: 21px 0 73px 0
        min-height: 610px
        &__wrapper
            margin-top: 70px
        &__header
            font-size: 38px
            line-height: 38px
        &__subheader
            font-size: 22px
            line-height: 22px
        &__icons
            width: 43%
            margin-top: 53px
        &__icon
            width: 30%
            font-weight: 400
            font-size: 13px
            img
                margin-bottom: 15px
        &__link
            font-size: 15px
            margin-top: 15px
    .header
        &__logo
            width: 22%
        &__official
            span
                font-size: 17px
        &__phone
            font-size: 16px
    
    .button
        &_main
            width: 28%
            height: 45px
            font-size: 14px
            margin-top: 60px
    
    .advantages
        padding: 58px 0 75px 0


@media (min-width: 769px) and (max-width: 992px)
    .container
        max-width: 690px

    .promo
        padding: 21px 0 73px 0
        min-height: 540px
        &__wrapper
            margin-top: 56px
        &__header
            font-size: 34px
            line-height: 35px
        &__subheader
            font-size: 19px
            line-height: 20px
            margin-top: 9px
        &__icons
            margin-top: 35px
            width: 46%
        &__icon
            font-size: 12px
            img
                margin-bottom: 15px
        &__link
            font-size: 14px

    .header
        &__logo
            width: 22%
        &__official
            font-size: 10px
            span
                font-size: 15px
        &__phone
            font-size: 14px
    
    .button
        font-size: 11px
        line-height: 15px
        &_main
            width: 33%
            height: 40px
            font-size: 13px
            margin-top: 50px
    
    .advantages
        padding: 48px 0 68px 0
        &__header
            font-size: 27px
        &__wrapper
            margin-top: 50px
        &__block
            width: 30%
            font-size: 13px
            span
                margin-top: 15px
                font-size: 17px
                line-height: 23px

@media (min-width: 577px) and (max-width: 768px)
    .container
        max-width: 500px

    .promo
        padding: 21px 0 68px 0
        min-height: 500px
        &__wrapper
            margin-top: 56px
        &__header
            font-size: 25px
            line-height: 15px
        &__subheader
            font-size: 15px
        &__icons
            margin-top: 30px
            width: 60%
        &__icon
            width: 33%
            font-size: 12px
            img
                margin-bottom: 15px
        &__link
            font-size: 13px
            margin-top: 10px

    .header
        &__logo
            width: 35%
        &__official
            display: none
        &__phone
            font-weight: 500
            font-size: 15px
    
    .button
        font-size: 11px
        line-height: 15px
        &_main
            width: 37%
            height: 35px
            font-size: 11px
            margin-top: 40px
    
    .advantages
        padding: 40px 0 55px 0
        &__header
            font-size: 24px
        &__wrapper
            flex-direction: column
            margin-top: 37px
        &__block
            width: 50%
            display: block
            margin: 0 auto
            margin-bottom: 12px
            font-size: 13px
            img
                margin-bottom: 12px
            span
                margin-bottom: 13px
                font-size: 17px
                line-height: 23px


@media (max-width: 576px)
    .container
        max-width: 85%

    .promo
        padding: 21px 0 42px 0
        min-height: 430px
        &__wrapper
            margin-top: 47px
            align-items: center
        &__header
            font-size: 20px
            line-height: 17px
        &__subheader
            font-size: 12px
            line-height: 15px
            margin-top: 9px
        &__icons
            margin-top: 30px
            width: 100%
        &__icon
            width: 30%
            font-size: 10px
            font-weight: 300
            img
                margin-bottom: 12px
        &__link
            font-size: 13px
            margin-top: 10px
        

    .header
        &__logo
            width: 52%
        &__official
            display: none
        &__phone
            font-weight: 500
            font-size: 10px
    
    .button
        font-size: 8px
        line-height: 11px
        width: 95px
        height: 21px
        &_main
            width: 80%
            height: 35px
            font-size: 11px
            margin-top: 40px
    
    .advantages
        padding: 34px 0 30px 0
        &__header
            font-size: 19px
        &__wrapper
            flex-direction: column
            margin-top: 30px
        &__block
            width: 75%
            display: block
            margin: 0 auto
            margin-bottom: 20px
            font-size: 13px
            img
                margin-bottom: 12px
            span
                margin-bottom: 13px
                font-size: 17px
                line-height: 23px

    
    
    
    
    
    
    
    
    