@import 'base/_variables'
@import 'base/_animations'
*
    font-family: 'Museo Sans'

.container
    max-width: 950px
    margin: 0 auto
    
@import 'blocks/_promo'
@import 'blocks/_header'
@import 'blocks/_buttons'
@import 'blocks/_titles'
@import 'blocks/_advantages'
@import 'blocks/_forms'
@import 'blocks/_consultation'
@import 'blocks/_carousel'
@import 'blocks/_catalog'
@import 'blocks/_reviews'
@import 'blocks/_footer'
@import 'blocks/_modal'
@import 'blocks/_pageup'


@import '_media'


